/* header */
.octi {
    background-color: blue;
    font-style: 32px;
    font-family: cursive;
}

/* fotos y videos */
img {
    height: 150px;
    width: 150px;
}

.first {
    height: 50px;
    width: 50px;
}

.second {
    height: 550px;
    width: 70%;
}

.yon {
    height: 250px;
    width: 250px;
    padding: 10px;
}

.go {
    height: 350px;
    width: 350px;
    padding: 10px;
}

/* Body */
body {
    background-image: url(../Multimedia/—Pngtree—japan\ tourism\ pink\ hand\ painted_925012.jpg);
    background-size: 100%;
}

/* grids containers */
.yon-pr {
    border: solid black 10px;
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 260px);
}

.go-pr {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    column-gap: 200px;
}

/* grids items */
.yon {
    border: 1px solid black;
}

.go {
    border: 1px solid black;
}

/* footer */

footer {
    background-color: rgba(177, 29, 164, 0.719);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    height: 50px;
    
}


a {color: crimson;}

.custom-carousel .carousel-inner {width: 100%; height: 1fr;}






/* Mediaquerys */
@media (min-width: 1024px) {

    .yon-pr {
        grid-template-columns: repeat(5, 250px);
    }

    .go-pr {
        grid-template-columns: repeat(3, 250px);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .yon-pr {
        grid-template-columns: repeat(2, 1fr);
    }

    .go-pr {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 767px) {
    .yon-pr {
        grid-template-columns: repeat(2, 1fr);
    }


    .yon {
        position: relative;
        width: 100%;
    }

    .yon img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .go-pr {
        grid-template-columns: repeat(1, 1fr);
    }

    .go {
        position: relative;
        width: 100%;
    }

    .go img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }


}